.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 15px;
  }
  
.grid-item {
    display: block;
    margin: auto;
    padding-bottom: 35px;
    width: 84%;
    height: 105%;
    text-align: center;
}

.img{
    display: block;
    margin:auto;
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.txtnombre{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 137, 2);
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}